$desktop-breakpoint: 576px;

$color-success: #4caf50;
$color-success-dark: #0a8f08;
$color-success-brightest: #60d463;
$color-success-brith: #0fc40c;

$color-danger-darkest: #b73229;
$color-danger-dark: #d1382e;
$color-danger-brighter: #b8271c;
$color-danger-pale: #d83d32;
$color-danger-red: #fa4538;

$color-opaque-white: #FFF2;
$color-white: #FFF;

$color-sky: #1d80d1;
$color-sky-bright: #3da8ff;
